.container  
{
    width: 100%;
    height: auto;
}
.listmenu
{
    width: 90%;
    height: 167Px;
}
    .menu1
{
    width: 100%;
    height: 115px;
    margin: 0 auto;
}

.menu1 ul {
    list-style: none;
    margin-left: 60px;
}
.menu1 ul li 
{
    display: inline-block;
    padding: 10px ;
}
.menu1 ul li a 
{
    text-decoration: none;
}
.menu1 ul li a img {
    vertical-align: middle;
}

.logo a 
{
    padding-right: 300px    ;
    padding-left: 20px;
}
/* menu2 */
.menu2
{
    width: 100%;
    height: 52px;
}
.menu2 ul {
    list-style: none;
    margin-left: 80px;
}
.menu2 ul li 
{
    display: inline-block;
    padding: 10px ;
}
.search 
{
    height: 30px;
    width: 305px;
    background-color: white;
    border: solid black 1px;
    border-radius: 5px;
    margin-left: 350px;
    
}
.search input {
    width: 255px;
    height: 25px;
    border: none white 0xp;
    
    border-radius: 5px; 
    padding-left: 10px;
    margin-left: 0px;
    
}
.search button 
{
    border: none;
    padding-top: 5px;
    vertical-align: middle;
    opacity: 50%;
}
.menu2 ul li a 
{
    text-decoration: none;
}


/* banner */
.banner   
{
    padding-top: 30px;
    box-sizing: border-box;
    
}
.banner .prev{
    padding-left: 20px;
}
.banner .next{

    padding-left: 1270px;
}
.prev, .next {
    
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: 60px;
    color:white;
    font-weight: bold;
    font-size: 80px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
/* main */

/* first */
.main h3 
{
    margin-top:20px;
    margin-left: 43.5%;
    color: #1d4574;
    font-size: 20px;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}

.main #icon1
{   
    margin-top: 0px;
    margin-left: 48%;
}
.main #first 
{
    height: 1152px;
    width: 1170px;
    display: grid;
    grid-template-columns: 256px 256px 256px 256px ;
    grid-template-rows: 256px 256px 256px  ;
    margin-top: 5px;
    margin-left: 160px;
    margin-bottom: 0;
}
.items img 
{
    width: 220px  ;
    height: 220px;
}
/* second */
.main #news
{ 
    margin-top : -360px;
    margin-left: 45.5%;
}
.main #second
{
    margin-top: 0px;
    height: 750px;
    width: 1170px;
    display: grid;
    grid-template-columns: 256px 256px 256px  ;
    grid-template-rows: 256px  ;
    margin-top: 5px;
    margin-left: 160px;
}
.listnews
{
    margin-left: 150px;
}
.listnews img

{
    
    width: 220px  ;
    height: 220px;
}
.listnews a
{
    font-weight: bolder;
    text-decoration: none;
    
}
/* third */
.main #trend
{ 
    margin-top : -480px;
    margin-left: 41.5%;
}
.main #third
{
    margin-top: 0px;
    height: 750px;
    width: 1170px;
    display: grid;
    grid-template-columns: 256px 256px 256px 256px ;
    grid-template-rows: 256px  256px ;
    margin-top: 5px;
    margin-left: 10px;
}
.trends img
{  
    width: 220px  ;
    height: 220px;
}
.trends
{
    margin-left: 150px;
}

/* footer */
#footer
{
    margin-top: -220px;
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer div
{
    color: blanchedalmond;
    width: 270;
    height: 100%;
    background-color: blanchedalmond;
    display: inline;
}