.row {
    height: 1600px;
    width: 1500px;
    display: flex;
    flex-direction: row;
    
}

.cot1 {
    display: flex;
    flex-direction: column;
    height: 1600px;
    width: 700px;
    margin-left: 50px
}

.cot2 {
    display: flex;
    flex-direction: column;
    height: 1600px;
    width: 700px;
    margin-right: 50px;
}

img {
    width: 450px;
    align-self: center;
}

.mrg {
    padding-left: 200px;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: red;
}
